<h2 mat-dialog-title>Добавить специальность</h2>

<mat-dialog-content>

  <mat-form-field>
    <label for="code"><b>Код специальности</b></label>
    <input type="text" name="code" [(ngModel)]="speciality.speciality_code" #code="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
    <div [hidden]="code.valid || code.untouched" class="alert alert-danger">
      Введите корректные данные
    </div>
    <label for="spec"><b>Специальность</b></label>
    <input type="text" name="spec" [(ngModel)]="speciality.speciality" #spec="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
    <div [hidden]="spec.valid || spec.untouched" class="alert alert-danger">
      Введите корректные данные
    </div>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="submitbtn" (click)="postData()" [disabled]="spec.invalid || code.invalid">Сохранить</button>
  <button class="cancelbtn" (click)="close()">Отмена</button>
</mat-dialog-actions>
