<div class="container">
  <h1>Добавление специальности</h1>
  <hr>

  <label for="code"><b>Код специальности</b></label>
  <input type="text" name="code" [(ngModel)]="speciality.speciality_code" #code="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
  <div [hidden]="code.valid || code.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <label for="spec"><b>Специальность</b></label>
  <input type="text" name="spec" [(ngModel)]="speciality.speciality" #spec="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
  <div [hidden]="spec.valid || spec.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <button class="registerbtn" (click)="postData()" [disabled]="spec.invalid || code.invalid">Сохранить</button>
</div>

