<h2 mat-dialog-title>Редактировать отделение</h2>

<mat-dialog-content>

  <mat-form-field>
    <label for="department_name"><b>Отделение</b></label>
    <input type="text" name="department_name" [(ngModel)]="department.department_name" #department_name="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
    <div [hidden]="department.valid || department.untouched" class="alert alert-danger">
      Введите корректные данные
    </div>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="submitbtn" (click)="postData()">Сохранить</button>
  <button class="cancelbtn" (click)="close()">Отмена</button>
</mat-dialog-actions>

