  <header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/admin-panel', admin]">CPI</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/admin-panel', admin]">{{admin}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<h2>Специальности</h2>

<div class="topnav">
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Найти.." name="search" class="search" [(ngModel)]="text" (input)="onInput(text)">
    </form>
  </div>
</div>


<div class="div-container">
  <button [routerLink]="['/add-speciality', admin]">Добавить</button>
  <div *ngIf="!specialities"><em>Загрузка...</em></div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="specialities">
  <thead>
    <tr>
      <th>Код</th>
      <th>Специальность</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let speciality of specialities">
      <td>{{speciality.speciality_code}}</td>
      <td>{{speciality.speciality}}</td>
      <td>
        <button class="dltbtn" (click)="deleteSpeciality(speciality.speciality_code)">Удалить</button>
        <button class="editbtn" [routerLink]="['/edit-speciality', admin, speciality.speciality_code]">Изменить</button>
      </td>
    </tr>
  </tbody>
</table>

