<div class="container">
  <h3>Добавление врача</h3>
  <hr>

  <label for="login"><b>Логин</b></label>
  <input type="text" name="login" [(ngModel)]="doctor.login" required>

  <label for="psw"><b>Пароль</b></label>
  <input type="password" name="psw" [(ngModel)]="user.password" required>

  <label for="surname"><b>Фамилия</b></label>
  <input type="text" name="surname" [(ngModel)]="doctor.surname" #surname="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="firstname"><b>Имя</b></label>
  <input type="text" name="firstname" [(ngModel)]="doctor.firstname" #firstname="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="fathername"><b>Отчество</b></label>
  <input type="text" name="fathername" [(ngModel)]="doctor.fathername" #fathername="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="fathername.valid || fathername.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="depart"><b>Отделение</b></label>
  <div *ngIf="!departments">
    <em>Загрузка...</em>
  </div>
  <div *ngIf="departments">
    <input type="text" name="depart" [(ngModel)]="docDepartment.department_code" list="dep">
    <datalist id="dep" name="dep">
      <option *ngFor="let department of departments" [value]="department.department_code">{{department.department_name}}</option>
    </datalist>
  </div>

  <div>
    <label for="speciality"><b>Специальность</b></label>
  </div>
  <div *ngIf="!specialities">
    <em>Загрузка...</em>
  </div>
  <div *ngIf="specialities">
    <input type="text" name="speciality" [(ngModel)]="docSpeciality.speciality_code" list="spec">
    <datalist id="spec" name="spec">
      <option *ngFor="let speciality of specialities" [value]="speciality.speciality_code">{{speciality.speciality}}</option>
    </datalist>
  </div>

  <label for="schedule"><b>Время работы</b></label>
  <div *ngIf="!schedules">
    <em>Загрузка...</em>
  </div>
  <div *ngIf="schedules">
    <select id="sch" name="sch" [(ngModel)]="docSchedule.schedule_code">
      <option *ngFor="let schedule of schedules" [value]="schedule.schedule_code">{{schedule.appointment_start | date: 'HH:mm'}} - {{schedule.appointment_end | date: 'HH:mm'}}</option>
    </select>
  </div>

  <label for="cabinet"><b>Кабинет</b></label>
  <input type="number" name="cabinet" [(ngModel)]="doctor.cabinet" min="1" max="300" required>

  <button type="submit" class="registerbtn" (click)="addDoctor()">Сохранить</button>
</div>

<!--[disabled]="surname.invalid || firstname.invalid || fathername.invalid"-->
