<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/user-page', user.login]">CPI</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']" *ngIf="isUser">
          <a class="nav-link text-dark" [routerLink]="['/pick-department', user.login]">Забронировать</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark">{{user.login}}</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="panel">

  <button class="registerbtn" [routerLink]="['/edit-patient-info', user.login]">Редактировать</button>

  <div>
    <h3>{{user.surname}} {{user.firstname}} {{user.fathername}}</h3>
    <h4>Пол: {{user.gender}}</h4>
    <h4>Дата рождения: {{user.birthday | date:'dd.MM.yyyy'}}</h4>
    <h4>Адрес: {{user.address}}</h4>
    <h4>Телефон: {{user.phone_number}}</h4>
  </div>

  <hr />

  <h3>Заказанные талоны</h3>

  <em *ngIf="!coupons">Загрузка...</em>

  <div class="div-container"  *ngFor="let coupon of coupons">

    <div class="card">
      <div style="margin: 5px 0;">
        <p>{{coupon.appointment_day | date: 'dd.MM.yyyy'}}</p>
        <p>{{coupon.template.time | date:'HH:mm'}}</p>
        <p class="title">{{coupon.doctor.speciality.speciality}}</p>
        <p class="title">{{coupon.doctor.surname}} {{coupon.doctor.firstname}} {{coupon.doctor.fathername}}</p>
        <p class="title">Кабинет {{coupon.doctor.cabinet}}</p>
      </div>
      <div>
        <p><button (click)="deleteCoupon(coupon.coupon_id)">Отменить</button></p>
      </div>
    </div>

  </div>

</div>
