<hr />
<hr />
<h2>Шаблоны</h2>

<div class="div-container">
  <button [routerLink]="['/add-template']">Добавить</button>
</div>

<div *ngIf="!templates"><em>Loading...</em></div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="templates">
  <thead>
    <tr>
      <th>Номер шаблона</th>
      <th>Шаблон</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let template of templates">
      <td>{{template.template_id}}</td>
      <td>{{template.time | date: 'HH:mm'}}</td>
      <td>
        <button class="dltbtn" (click)="deleteTemplate(template.template_id)">Удалить</button>
        <button class="editbtn" [routerLink]="['/edit-template', template.template_id]">Изменить</button>
      </td>
    </tr>
  </tbody>
</table>


