
* {
  box-sizing: border-box;
}

/*.div-container {
  float: left;
  margin: 10px;
}*/

/*  .div-container button {
    background-color: #57CF5F;
    padding: 4px;
    margin: 4px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }*/

/*    .div-container button:hover {
      background-color: #4CAF52;
    }*/

.div-container {
  display: inline-flex;
  margin: 10px;
  min-width: 80%;
}

  .div-container .card {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
    padding: 5px 10px;
    /*min-*/width: 30%;
    /*min-*/height: 40%;
/*    max-width: 40%;*/
  }

    .div-container .card:hover {
      background-color: rgba(255, 255, 255, 0.8);
      cursor: pointer;
    }

.home {
  display: inline-flex;
  min-width: 100%;
}

.left-panel {
  background-color: rgba(220, 220, 220, 0.8);
  min-width: 20%;
  min-height: 100%;
  padding: 10px 0 0 10px;
}

.right-panel {
  padding: 0 20px 0 20px;
  min-width: 80%;
  min-height: 100%;
}

.info {
    padding: 10px 2px 5px 10px;
    /*align-content: center;*/
}

.preview img {
  display: block;
  margin: auto;
  width: 50%;
  padding: 0 0 5px 0;
}

.info button {
    border: none;
    margin: 10px 0 20px 0;
    font-size: 20px;
}

