
* {
  box-sizing: border-box;
}

/*.div-container {
  float: left;
  margin: 10px;
}*/

/*  .div-container button {
    background-color: #57CF5F;
    padding: 4px;
    margin: 4px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
  }*/

/*    .div-container button:hover {
      background-color: #4CAF52;
    }*/

.div-container {
  display: inline-flex;
  margin: 10px;
  min-width: 80%;
}

img {
  width: 30%;
}

.card {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 10px;
  padding: 5px 10px;
  min-width: 30%;
  min-height: 40%;
  max-width:40%;
}

.card:hover {
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}

.home {
  display: inline-flex;
  min-width: 100%;
}

.left-panel {
  background-color: aqua;
  min-width: 20%;
  min-height: 100%;
}

.right-panel {
  padding: 0 20px 0 20px;
  min-width: 80%;
  min-height: 100%;
}

.info {
    padding: 10px 2px 5px 10px;
    /*align-content: center;*/
}

.info button {
    border: none;
    margin: 10px 0 20px 0;
    font-size: 20px;
}
