<h2 mat-dialog-title>Редактировать пользователя</h2>

<mat-dialog-content>

  <mat-form-field>
    <label for="login"><b>Логин</b></label>
    <h5 name="login"> {{user.login}}</h5>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" name="psw" [(ngModel)]="user.password" required>

    <label for="status"><b>Роль</b></label>
    <select name="status" [(ngModel)]="user.status">
      <option *ngFor="let role of roles" [value]="role">
        {{role}}
      </option>
    </select>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="submitbtn" (click)="postData()">Сохранить</button>
  <button class="cancelbtn" (click)="close()">Отмена</button>
</mat-dialog-actions>


