<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/']">CPI</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

<div class="container">
  <h1>Регистрация</h1>
  <p>Пожалуйста, заполните эту форму, чтобы создать аккаунт.</p>
  <hr>

  <!--<label for="mail"><b>Адрес электронной почты</b></label>

  <form class="mailform">
    <input class="mailinput" type="text" name="mail" [(ngModel)]="user.mail" #mail="ngModel" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
    <button class="mailbutton"
            matTooltip="Используется для восстановления пароля и получения информации о записях."
            matTooltipClass="custom-tooltip">
      <mat-icon>help_outline</mat-icon>
    </button>
  </form>

  <div [hidden]="mail.valid || mail.untouched" class="alert alert-danger">
    Введите корректную почту
  </div>-->

  <label for="login"><b>Логин</b></label>
  <input type="text" name="login" [(ngModel)]="user.login" #login="ngModel" pattern="(^[a-z0-9]{1,23})$" required>
  <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="psw"><b>Пароль</b></label>
  <input type="password" name="password" [(ngModel)]="user.password" #password="ngModel" required>
  <div [hidden]="password.valid || password.untouched" class="alert alert-danger">
    Введите корректный пароль
  </div>

  <label for="psw-repeat"><b>Подтвердите пароль</b></label>
  <input type="password" name="pswrepeat" [(ngModel)]="user.pswrepeat" #pswrepeat="ngModel" required>
  <div [hidden]="pswrepeat.valid || pswrepeat.untouched" class="alert alert-danger">
    Введите корректный пароль
  </div>
  <hr>

  <button class="registerbtn" (click)="checkUser()" [disabled]="login.invalid || password.invalid || pswrepeat.invalid">Зарегистрироваться</button>

  <div ng-show="errors">
    <div *ngFor="let error of errors" class="alert alert-danger">{{error}}</div>
  </div>
</div>



<div class="container signin">
  <p>Уже есть аккаунт? <a [routerLinkActive]="['link-active']" [routerLink]="['/authorize']">Войти</a>.</p>
</div>
