<div class="container">
  <h3>Редактирование информации</h3>
  <hr>

  <label for="surname"><b>Фамилия</b></label>
  <input type="text" name="surname" [(ngModel)]="patient.surname" #surname="ngModel" pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <label for="firstname"><b>Имя</b></label>
  <input type="text" name="firstname" [(ngModel)]="patient.firstname" #firstname="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <label for="fathername"><b>Отчество</b></label>
  <input type="text" name="fathername" [(ngModel)]="patient.fathername" #fathername="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="fathername.valid || fathername.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <div>
    <input type="radio" name="woman" [(ngModel)]="patient.gender" value="Женский">
    <label for="woman"><b>Женский</b></label> <br />
    <input type="radio" name="man" [(ngModel)]="patient.gender" value="Мужской">
    <label for="man"><b>Мужской</b></label>
  </div>
  <label for="birthday"><b>Дата рождения</b></label>
  <input type="date" name="birthday"
         min="1900-01-01" max="2019-01-01" datetime="yyyy-MM-dd" [(ngModel)]="patient.birthday">
  <label for="address"><b>Адрес</b></label>
  <input type="text" placeholder="Город, улица, дом, квартира" name="address" [(ngModel)]="patient.address" #address="ngModel" required>
  <div [hidden]="address.valid || address.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <label for="phone"><b>Номер телефона</b></label>
  <input type="text" placeholder="+375*********" name="phone" [(ngModel)]="patient.phone_number" #phone="ngModel" pattern="^\+375[0-9]{2}[0-9]{7}$" required>
  <div [hidden]="phone.valid || phone.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <button class="registerbtn" (click)="editPatient()" [disabled]="surname.invalid || firstname.invalid || fathername.invalid ||
          address.invalid || phone.invalid">
    Сохранить
  </button>
</div>

