<h2>Дни недели</h2>

<div class="div-container">
  <button [routerLink]="['/add-day']">Добавить</button>
</div>

<div *ngIf="!days"><em>Loading...</em></div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="days">
  <thead>
    <tr>
      <th>Код дня</th>
      <th>День</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let day of days">
      <td>{{day.day_code}}</td>
      <td>{{day.day}}</td>
      <td>
        <button class="dltbtn" (click)="deleteDay(day.day_code)">Удалить</button>
        <button class="editbtn" [routerLink]="['/edit-day', day.day_code]">Изменить</button>
      </td>
    </tr>
  </tbody>
</table>


