<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/user-page', login]">CPI</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="panel">

  <h3>Отделения</h3>
  <hr/>

  <!--<div *ngIf="!doctors"><em>Загрузка...</em></div>

  <div class="div-container" *ngIf="doctors">
    <div style="margin: 5px 0;" *ngFor="let doctor of doctors" [routerLink]="['/pick-coupon', login, department.department_code, doctor.login]">
      <h5>{{doctor.surname}} {{doctor.firstname}} {{doctor.fathername}}</h5>
      <h5>{{doctor.speciality?.speciality}}</h5>
    </div>
  </div>-->

  <mat-accordion>
    <mat-expansion-panel *ngFor="let dep of departments">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{dep.department_name}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let doc of dep.doctors" class="cell" [routerLink]="['/pick-coupon', login, dep.department_code, doc.login]">
        <p>{{doc.surname}} {{doc.firstname}} {{doc.fathername}}</p>
        <p>{{doc.speciality.speciality}}</p>
        <p>Время работы: {{doc.hours.appointment_start | date:'HH:mm'}} - {{doc.hours.appointment_end | date:'HH:mm'}} </p>
        <hr />
      </div>
    </mat-expansion-panel>
  </mat-accordion>

</div>
