<hr />
<hr />
<h2>Отделения</h2>

<div class="topnav">
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Найти.." name="search" class="search" [(ngModel)]="text" (input)="onInput(text)">
    </form>
  </div>
</div>


<div class="div-container">
  <button [routerLink]="['/add-department']">Добавить</button>
</div>

<div *ngIf="!departments"><em>Загрузка...</em></div>

<div class="dep">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>Отделение</th>
        <th>Заведующий</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let department of departments">
        <td>{{department.department_name}}</td>
        <td>{{department.head}}</td>
        <td>
          <button class="dltbtn" (click)="deleteDepartment(department.department_code)">Удалить</button>
          <button class="editbtn" [routerLink]="['/edit-department', department.department_code]">Изменить</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
