<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/admin-panel', user]">CPI</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel', admin]">{{admin}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<h2>Пользователи</h2>

<div class="topnav">
  <div class="search-container">
    <form action="">
      <input type="text" placeholder="Найти.." name="search" class="search" [(ngModel)]="text" (input)="onInput(text)">
    </form>
  </div>
</div>

<div class="div-container">
  <button [routerLink]="['/add-user', admin]">Добавить</button>
  <div *ngIf="!users"><em>Загрузка...</em></div>
</div>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
  <thead>
    <tr>
      <th (click)="sortLogin()" class="toorder">Логин</th>
      <th (click)="sortStatus()" class="toorder">Роль</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.login}}</td>
      <td>{{user.status}}</td>
      <td>
        <button class="dltbtn" (click)="deleteUser(user.login)">Удалить</button>
        <button class="editbtn" [routerLink]="['/edit-user', admin, user.login]">Изменить</button>
      </td>
    </tr>
  </tbody>
</table>

