<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/user-page', newCoupon.patient_login]"><img style="width: 60px;" src="/assets/images/icon.png" /></a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="panel">

  <h3>Заказ талона</h3>

  <hr />

  <h4>Выберите время:</h4>

  <div class="coupon-container">

    <div class="left-panel">

      <mat-card class="demo-inline-calendar-card">
        <mat-calendar [(selected)]="selectedDate" (selectedChange)="selectedDate = $event; newCoupon.appointment_day = selectedDate; checkCoupon();" [minDate]="minDate" [maxDate]="maxDate"></mat-calendar>
      </mat-card>

      <div class="coupons-list">

        <div class="coupons" *ngFor="let freeCoupon of freeCoupons">
            <label class="coup" (click)="newCoupon.template_id = freeCoupon.template_id; app_time = freeCoupon.time">
              <input type="radio" name="product" class="card-input-element" />
              <div class="card-input">
                {{freeCoupon.time | date: 'HH:mm'}}
              </div>
            </label>
        </div>

      </div>

    </div>

    <div class="right-panel">

      <h4>Информация о талоне</h4>
      <h5>Врач: {{doctor.surname}} {{doctor.firstname}} {{doctor.fathername}}</h5>
      <h5>{{doctor.speciality}}</h5>
      <h5>Дата приема: {{selectedDate | date: 'dd.MM.yyyy'}}</h5>
      <h5>Время приема: {{app_time | date: 'HH:mm'}}</h5>
      <h5>Кабинет {{doctor.cabinet}}</h5>
    </div>

  </div>

  <div *ngIf="selectedDate && app_time">
    <button type="submit" class="registerbtn" (click)="pickCoupon()">Заказать</button>
  </div>

  <div ng-show="errors">
    <div *ngFor="let error of errors" class="alert alert-danger">{{error}}</div>
  </div>


</div>
