.demo-inline-calendar-card {
  width: 200px;
}

/*.coupon {
  margin: 20px 10px;
  background-color: #f1f1f1;
  width: 70px;
  text-align: center;
  padding: 5px;
  display: inline-block;
}

  .coupon:hover {
    background-color: #B5B5B5;
  }*/

.registerbtn {
  vertical-align: bottom;
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

  .registerbtn:hover {
    opacity: 1;
  }

*:focus {
  outline: none;
}

.coup {
  width: 20%;
  display: inline-flex;
}

.card-input-element {
  display: none;
}

.container:after {
  width: 100%;
  display: table;
}

.card-input {
  margin: 5px;
  padding: 10px;
}

  .card-input:hover {
    cursor: pointer;
    background: #b5b5b5;
  }

.card-input-element:checked + .card-input {
  background: #b5b5b5;
}

.coupons {
  display: inline;
  flex-wrap: wrap;
  margin: 0 10px 10px 10px;
}

.coupon-container {
  display: inline-flex;
  width: 100%;
}

.left-panel {
  background-color: rgba(220, 220, 220, 0.8);
  min-width: 50%;
  min-height: 100%;
  padding: 10px 0 0 10px;
  display: inline-flex;
}

.right-panel {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px 20px 0 20px;
  min-width: 50%;
}

.coupons-list {
  margin: 0 0 0 20px;
  max-width: 60%;
}

