<h3>Выберите время:</h3>
<mat-card class="demo-inline-calendar-card">
  <mat-calendar (selectedChange)="selectedDate = $event; checkCoupon();"></mat-calendar>
</mat-card>

<!--<p>Selected date: {{selectedDate}}</p>-->

<div *ngIf="freeCoupons" class="container">
  <div class="coupon" *ngFor="let freeCoupon of freeCoupons">
    <h5 (click)="newCoupon.appointment_time.time = freeCoupon.time; getTime()">{{freeCoupon.time | date: 'HH:mm'}}</h5>
  </div>
</div>

<div *ngIf="selectedDate">
  <button type="submit" class="registerbtn" (click)="pickCoupon()">Заказать</button>
</div>
