<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/doctor-info', login]">
      <img style="width: 60px;" src="/assets/images/icon.png" />
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/doctor-coupons', doctor.login]">Талоны</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="panel">

  <div class="panel-content">

    <div class="left-panel">

      <div class="preview" *ngIf="doctor.photo; else null_content">
        <img [src]="doctor.photo">
      </div>

      <ng-template #null_content>
        <div class="preview">
          <img class="profile-placeholder">
        </div>
      </ng-template>

    </div>

    <div class="right-panel">

      <h2>{{doctor.surname}} {{doctor.firstname}} {{doctor.fathername}}</h2>
      <h4><span class="label">Отделение: </span> {{doctor.department?.department_name}}</h4>
      <h4><span class="label">Специальность: </span> {{doctor.speciality?.speciality}}</h4>
      <h4><span class="label">Кабинет: </span> {{doctor.cabinet}}</h4>
      <h4><span class="label">Время работы: </span> {{doctor.hours?.appointment_start | date:'HH:mm'}} - {{doctor.hours?.appointment_end | date: 'HH:mm'}}</h4>
      <br />
      <!--<h5>Образование:</h5>
      <hr/>
      <p>{{doctor.education}}</p>
      <h5>Профессональные достижения и опыт:</h5>
      <hr/>
      <p>{{doctor.regards}}</p>-->

    </div>

  </div>

  <div class="bottom-panel">
    <h5>Образование</h5>
    <hr />
    <p>{{doctor.education}}</p>
    <h5>Профессональные достижения и опыт</h5>
    <hr />
    <p>{{doctor.regards}}</p>
  </div>

</div>
