<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/doctor-info', login]">CPI</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="content">

  <div class="preview" *ngIf="doctor.photo">
    <img [src]="doctor.photo">
  </div>

  <h2>{{doctor.surname}} {{doctor.firstname}} {{doctor.fathername}}</h2>
  <h3>Отделение {{doctor.department?.department_name}}</h3>
  <h3>{{doctor.speciality?.speciality}}</h3>
  <h3>Кабинет {{doctor.cabinet}}</h3>
  <h3>Время работы: {{doctor.hours?.appointment_start | date:'HH:mm'}} - {{doctor.hours?.appointment_end | date: 'HH:mm'}}</h3>

  <hr />

  <div class="div-container">
    <button [routerLink]="['/doctor-coupons', doctor.login]">Талоны</button>
  </div>

</div>
