<div class="container">
  <h3>Добавить расписание</h3>
  <hr>

  <label for="schcode"><b>Код расписания</b></label>
  <input type="number" name="schcode" [(ngModel)]="schedule.schedule_code" required>
  <label for="time_start"><b>Начало приема</b></label>
  <input type="time" name="time_start" [(ngModel)]="schedule.appointment_start" required>
  <label for="time_end"><b>Окончание приема</b></label>
  <input type="time" name="time_end" [(ngModel)]="schedule.appointment_end" required>


  <button сlass="registerbtn" name="registerbtn" (click)="postSchedule()">Сохранить</button>
</div>
