<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/admin-panel', admin]"><img style="width: 60px;" src="/assets/images/icon.png" /></a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel', admin]">{{admin}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<h2 class="panel-header">Талоны</h2>

<hr />

<div class="panel">

  <div class="dep">
    <div class="topnav">
      <div class="search-container">
        <form action="">
          <input type="text" placeholder="Найти.." name="search" class="search">
        </form>
      </div>
    </div>

    <div *ngIf="!coupons"><em>Загрузка...</em></div>
    <table class='table table-striped' aria-labelledby="tableLabel">
      <thead>
        <tr>
          <th>Код учреждения</th>
          <th (click)="sortDay()" class="toorder">Дата приема</th>
          <th>Время приема</th>
          <th (click)="sortPatient()" class="toorder">Пациент</th>
          <th (click)="sortDoctor()" class="toorder">Врач</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let coupon of coupons">
          <td>{{coupon.hospital_id}}</td>
          <td>{{coupon.appointment_day | date: 'dd.MM.yyyy'}}</td>
          <td>{{coupon.template.time | date: 'HH:mm'}}</td>
          <td><a [routerLinkActive]="['link-active']" [routerLink]="['/user-page', coupon.patient.login]"> {{coupon.patient.surname}} {{coupon.patient.firstname}} {{coupon.patient.fathername}}</a></td>
          <td><a [routerLinkActive]="['link-active']" [routerLink]="['/doctor-info', coupon.doctor.login]"> {{coupon.doctor.surname}} {{coupon.doctor.firstname}} {{coupon.doctor.fathername}}</a></td>
          <td>
            <button class="dltbtn" (click)="deleteCoupon(coupon.coupon_id)">Удалить</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
