<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <!--<div class="container">-->
      <a class="navbar-brand" [routerLink]="['/admin-panel', user]">CPI</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel', login]">{{login}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
          </li>
        </ul>
      </div>
    <!--</div>-->
  </nav>
</header>

<div class="container">
  <h3>Редактирование врача</h3>
  <hr>

  <label for="surname"><b>Фамилия</b></label>
  <input type="text" name="surname" [(ngModel)]="doctor.surname" #surname="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="surname.valid || surname.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="firstname"><b>Имя</b></label>
  <input type="text" name="firstname" [(ngModel)]="doctor.firstname" #firstname="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="firstname.valid || firstname.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="fathername"><b>Отчество</b></label>
  <input type="text" name="fathername" [(ngModel)]="doctor.fathername" #fathername="ngModel"
         pattern="^([А-Я]{1}[а-яё]{1,23}|[A-Z]{1}[a-z]{1,23})$" required>
  <div [hidden]="fathername.valid || fathername.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>

  <label for="depart"><b>Отделение</b></label>
  <div *ngIf="!departments">
    <em>Загрузка...</em>
  </div>
  <div *ngIf="departments">
    <!--<input type="text" name="depart"  list="dep">-->
    <!--<select id="dep" name="dep" [(ngModel)]="docDepartment.department_code">
      <option [ngValue]="null">--</option>
      <option *ngFor="let department of departments" [value]="department.department_code">{{department.department_name}}</option>
    </select>-->
    <input type="text" name="depart" [(ngModel)]="doctor.department_code" list="dep">
    <datalist id="dep" name="dep">
      <!--<option value="">--</option>-->
      <option *ngFor="let department of departments" [value]="department.department_code">{{department.department_name}}</option>
    </datalist>
  </div>

  <div>
    <label for="speciality"><b>Специальность</b></label>
  </div>
  <div *ngIf="!specialities">
    <em>Загрузка...</em>
  </div>
  <div *ngIf="specialities">
    <input type="text" name="speciality" [(ngModel)]="doctor.speciality_code" list="spec">
    <datalist id="spec" name="spec">
      <option *ngFor="let speciality of specialities" [value]="speciality.speciality_code">{{speciality.speciality}}</option>
    </datalist>
  </div>

  <label for="schedule"><b>Время работы</b></label>
  <div *ngIf="!schedules">
    <em>Загрузка...</em>
  </div>
  <div *ngIf="schedules">
    <select id="sch" name="sch" [(ngModel)]="doctor.schedule_code">
      <option *ngFor="let schedule of schedules" [value]="schedule.schedule_code">{{schedule.appointment_start | date: 'HH:mm'}} - {{schedule.appointment_end | date: 'HH:mm'}}</option>
    </select>
  </div>

  <label for="cabinet"><b>Кабинет</b></label>
  <input type="number" name="cabinet" [(ngModel)]="doctor.cabinet" min="1" max="300" required>

  <label for="educ"><b>Образование</b></label>
  <textarea name="educ" [(ngModel)]="doctor.education"></textarea>

  <label for="reg"><b>Достижения</b></label>
  <textarea name="reg" [(ngModel)]="doctor.regards"></textarea>

  <button type="submit" class="registerbtn" (click)="addDoctor()" [disabled]="surname.invalid || firstname.invalid || fathername.invalid">Сохранить</button>
</div>


