<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <a class="navbar-brand" [routerLink]="['/admin-panel', user]">CPI</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel', admin]">{{admin}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
          </li>
        </ul>
      </div>
  </nav>
</header>

<div class="container">
  <h1>Добавление пользователя</h1>
  <hr>

  <label for="login"><b>Логин</b></label>
  <input type="text" name="login" [(ngModel)]="user.login" required>

  <label for="psw"><b>Пароль</b></label>
  <input type="password" name="psw" [(ngModel)]="user.password" required>

  <label for="status"><b>Роль</b></label>
  <select name="status" [(ngModel)]="user.status">
    <option *ngFor="let role of roles" [value]="role">
      {{role}}
    </option>
  </select>

  <button class="registerbtn" (click)="postData()">Сохранить</button>
</div>

