<!--<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <a class="navbar-brand" [routerLink]="['/admin-panel', admin]">CPI</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel', admin]">{{admin}}</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
          </li>
        </ul>
      </div>
  </nav>
</header>
<div class="container">
  <h1>Редактирование специальности</h1>
  <hr>

  <label for="code"><b>Код специальности</b></label>
  <h5>{{speciality.speciality_code}}</h5>

  <label for="spec"><b>Специальность</b></label>
  <input type="text" name="spec" [(ngModel)]="speciality.speciality" #spec="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
  <div [hidden]="spec.valid || spec.untouched" class="alert alert-danger">
    Введите корректные данные
  </div>
  <button class="registerbtn" (click)="postData()" [disabled]="spec.invalid">Сохранить</button>
</div>-->

<h2 mat-dialog-title>Редактировать специальность</h2>

<mat-dialog-content>

  <mat-form-field>
    <label for="code"><b>Код специальности</b></label>
    <h5>{{speciality.speciality_code}}</h5>
    <label for="spec"><b>Специальность</b></label>
    <input type="text" name="spec" [(ngModel)]="speciality.speciality" #spec="ngModel" pattern="^[А-ЯA-Zа-яf-z ,.'-]+$" required>
    <div [hidden]="spec.valid || spec.untouched" class="alert alert-danger">
      Введите корректные данные
    </div>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="submitbtn" (click)="postData()" [disabled]="spec.invalid || code.invalid">Сохранить</button>
  <button class="cancelbtn" (click)="close()">Отмена</button>
</mat-dialog-actions>
