<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <a class="navbar-brand" [routerLink]="['/user-page', login]">CPI</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target=".navbar-collapse"
            aria-label="Toggle navigation"
            [attr.aria-expanded]="isExpanded"
            (click)="toggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
         [ngClass]="{ show: isExpanded }">
      <ul class="navbar-nav flex-grow">
        <li class="nav-item" [routerLinkActive]="['link-active']">
          <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<div class="panel">

  <h3>Выбор учреждения</h3>

    <div class="topnav">
      <div class="search-container">
        <form action="">
          <input type="text" placeholder="Найти.." name="search" class="search" [(ngModel)]="text" (input)="onInput(text)">
        </form>
      </div>
    </div>

    <div class="content">

      <div class="cell" *ngFor="let hp of hospitals" [routerLink]="['/pick-doctor', login, hp.hospital_id]">
        <h4>{{hp.hospital_name}}</h4>
        <h6>{{hp.hospital_type}}</h6>
        <h6>{{hp.hospital_address}}</h6>
        <h6>Время работы: {{hp.hours.appointment_start | date:'HH:mm'}} - {{hp.hours.appointment_end | date:'HH:mm'}} </h6>
      </div>

    </div>

  <!--<div *ngIf="!departments"><em>Загрузка...</em></div>

  <div class="div-container" *ngIf="departments">
    <div style="margin: 5px 0;" *ngFor="let department of departments" class="dep">
      <h4 [routerLink]="['/pick-doctor', login, department.department_code]">{{department.department_name}}</h4>
    </div>
  </div>-->

</div>
