
* {
  box-sizing: border-box;
}

.div-container {
  float: left;
  margin: 10px;
  display: inline-block;
  width: 100%;
  background-color: #f1f1f1;
}

.dep:hover {
  background-color: #B5B5B5;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  margin: 20px;
  text-align: center;
  font-family: arial;
  width: 15%;
  display: inline-block;
}

.title {
  color: grey;
  font-size: 14px;
}


a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

.card button {
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  outline: 0;
  display: inline-block;
  padding: 8px;
  margin: 4px;
  color: white;
  background-color: #FF0000;
  text-align: center;
  cursor: pointer;
  width: 90%;
  font-size: 18px;
}


.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 15%;
  opacity: 0.9;
  float: right;
}

  .registerbtn:hover {
    opacity: 1;
  }

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #e0e0e0;
}

  input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }

.cell {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 20px 0px;
  padding: 10px 20px;
}

  .cell:hover {
    background-color: rgba(255, 255, 255, 1.0);
    cursor: pointer;
  }

  .content {
      padding-bottom: 40px;
  }
