<h2 mat-dialog-title>Редактировать расписание</h2>

<mat-dialog-content>

  <mat-form-field>
    <label for="schcode"><b>Код расписания</b></label>
    <h5>{{data}}</h5>
    <label for="time_start"><b>Начало приема</b></label>
    <input type="time" name="time_start" [(ngModel)]="start" required>
    <label for="time_end"><b>Окончание приема</b></label>
    <input type="time" name="time_end" [(ngModel)]="end" required>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="submitbtn" (click)="postData()">Сохранить</button>
  <button class="cancelbtn" (click)="close()">Отмена</button>
</mat-dialog-actions>

