<hr />
<hr />
<div class="container">
  <h3>Редактировать расписание</h3>
  <hr>

  <label for="schcode"><b>Код расписания</b></label>
  <h5>{{scheduler.schedule_code}}</h5>
  <label for="time_start"><b>Начало приема</b></label>
  <input type="time" name="time_start" [(ngModel)]="start" required>
  <label for="time_end"><b>Окончание приема</b></label>
  <input type="time" name="time_end" [(ngModel)]="end" required>

  <div><button class="registerbtn" (click)="editSchedule()">Сохранить</button></div>
</div>
