<div class="container">
  <h3>Добавить расписание</h3>
  <hr>

  <label for="schcode"><b>Код расписания</b></label>
  <input type="number" name="schcode" [(ngModel)]="sch.schcode" required>
  <label for="shift"><b>Смена</b></label>
  <input type="number" name="shift" [(ngModel)]="sch.shift" required>
  <label for="time_start"><b>Начало приема</b></label>
  <input type="time" name="time_start" [(ngModel)]="sch.start" required>
  <label for="time_end"><b>Окончание приема</b></label>
  <input type="time" name="time_end" [(ngModel)]="sch.end" required>


  <button сlass="registerbtn" (click)="postSchedule(sch)">Сохранить</button>
</div>
