<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">CPI</a>
      <button class="navbar-toggler"
              type="button"
              data-toggle="collapse"
              data-target=".navbar-collapse"
              aria-label="Toggle navigation"
              [attr.aria-expanded]="isExpanded"
              (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
           [ngClass]="{ show: isExpanded }">
        <ul class="navbar-nav flex-grow">
          <li *ngIf="userLog" class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/pick-department', pat1]">Забронировать</a>
          </li>
          <li class="nav-item"
              [routerLinkActive]="['link-active']"
              [routerLinkActiveOptions]="{ exact: true }">
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/admin-panel']">Admin</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/']">Выйти</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<h2>Панель администратора</h2>

<hr />

<div class="row">
  <div class="column">
    <h4>Пользователи</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/users-list']">Cписок пользователей</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-user']">Добавить пользователя</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Врачи</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/doctors-list']">Cписок врачей</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-doctor']">Добавить врача</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Расписание</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/schedules-list']">Cписок расписаний</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-schedule']">Добавить расписание</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Пациенты</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/patients-list']">Список пациентов</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-patient']">Добавить пациента</a></li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="column">
    <h4>Отделения</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/departments-list']">Список отделений</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-department']">Добавить отделение</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Специальности</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/specialities-list']">Список специальностей</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-speciality']">Добавить специальность</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Стандартные талоны</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/templates-list']">Список талонов</a></li>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/add-template']">Добавить талон</a></li>
    </ul>
  </div>
  <div class="column">
    <h4>Талоны</h4>
    <ul>
      <li><a [routerLinkActive]="['link-active']" [routerLink]="['/coupons-list']">Список талонов</a></li>
    </ul>
  </div>
</div>
