
* {
  box-sizing: border-box;
/*  opacity: 0.5;*/
}

body {
  
}


/* Create four equal columns that floats next to each other */
.column {
  float: left;
  width: 25%;
  padding: 10px;
  height: 30%;
  display: table-cell;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.previous {
  /*background-color: #FAFAFA;*/
  color: black;
}
